
*.mp4
/.workfiles/.50 GS/50 GS - V00 - Standard
/.workfiles/ak103/Kastov 762 - V00 - Standard
/.workfiles/Ammunition new
/.workfiles/atts/Ares clearshot
/.workfiles/atts/BruenTiltGrip
/.workfiles/atts/Corio Enforcer Hologrphic
/.workfiles/atts/Cronen Mini Pro
/.workfiles/atts/DXS Coriolis V4 9.4X Scope
*.7z
/.workfiles/atts/FT Steel Fire Supressor
/.workfiles/atts/FTac Ripper 56 Foregrip
*.png
