
*.mp4
/.workfiles/.50 GS/50 GS - V00 - Standard
/.workfiles/ak103/Kastov 762 - V00 - Standard
/.workfiles/Ammunition new
/.workfiles/atts/Ares clearshot
/.workfiles/atts/BruenTiltGrip
/.workfiles/atts/Corio Enforcer Hologrphic
/.workfiles/atts/Cronen Mini Pro
/.workfiles/atts/DXS Coriolis V4 9.4X Scope
*.7z
/.workfiles/atts/FT Steel Fire Supressor
/.workfiles/atts/FTac Ripper 56 Foregrip
/.workfiles/atts/Harbinger D20 Supressor
/.workfiles/atts/Monocle CT90 Reflex
/.workfiles/atts/SZ 1MW PEQ Laser
/.workfiles/atts/SZ Bullseye Scope
/.workfiles/basb/BAS-B  - V000 - Standard
/.workfiles/holger26/Holger 26 - V000 - Standard
/.workfiles/lockwood680/Lockwood 680 - V000 - Standard
/.workfiles/m4/M4 - V00 - Standard
/.workfiles/p890/P890 - V00 - Standard
/.workfiles/rival9/Rival-9 - V000 - Standard/Rival-9 - V000 - Standard
/.workfiles/spx80/LA-B 330 - V00 - Standard/LA-B 330 - V00 - Standard
/.workfiles/spx80/SP-R 208 - V00 - Standard/SP-R 208 - V00 - Standard
/.workfiles/spx80/SP-X 80 - V00 - Standard/SP-X 80 - V00 - Standard
/.workfiles/taq56/TAQ-56 - V00 - Standard/TAQ-56 - V00 - Standard
/.workfiles/taq56/TAQ-V - V00 - Standard/TAQ-V - V00 - Standard
/.workfiles/tyr/TYR - V000 - Standard
/.workfiles/atts/EXF Fifty GS Supressor
*.blend1
*.blend1
/.workfiles/atts/FTac Tridentcore Supressor
/.workfiles/atts/FSS Spectre 1.0X Micro Thermal Sight
/.workfiles/cronen squall/Cronen Squall - V00 - Standard
/.workfiles/m4/M16 - V00 - Standard
*.blend1
*.blend1
/.workfiles/atts/SZ Lonewolf Holographic
/.workfiles/hrm9/HRM-9 - V000 - Standard
/.workfiles/atts/Cornerstone Bipod
/.workfiles/atts/KR HX-15 Laser Light
/.workfiles/fjx impreium/FJX Imperium - V00 - Standard
/.workfiles/expedite12/Expedite 12 - V00 - Standard
/.workfiles/rpkm/RPK - V00 - Standard
/.workfiles/atts/RF Crown 50 Comp
/.workfiles/reclaimer18/Reclaimer 18 - V0000 - Standard
/.workfiles/tempustorrent/Tempus Torrent - V00 - Standard
/.workfiles/atts/Broadhead-3DP Supressor
/.workfiles/atts/Lockgrip Precision-40 Foregrip
/.workfiles/m13b
